<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JLMDSAP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--连接SAP用户名密码-->
    <add name="ConnectionStringName" connectionString="User ID=QM_RFC_USER;Password=b49Kp21S;"/>
  </connectionStrings>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <JLMDSAP.Properties.Settings>
      <setting name="JLMDSAP_sappwd_BS_CARSYS_CQ_SI_pd_info_upload_req" serializeAs="String">
        <value>http://sappwd:80/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_CARSYS_CQ&amp;receiverParty=&amp;receiverService=&amp;interface=SI_pd_info_upload_req&amp;interfaceNamespace=urn%3ANDPaper.com%3AI_QM%3Apd_info_upload</value>
      </setting>
    </JLMDSAP.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
