<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EMEWE.CarManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="EMEWEQCConnectionString" connectionString="Data Source=10.185.1.181;Initial Catalog=CQNDCL;Persist Security Info=True;User ID=sa;Password=888888" providerName="System.Data.SqlClient" />
    <add name="EMEWEQCConnectionString2" connectionString="Data Source=10.185.0.40;Initial Catalog=moisturecheckB;Persist Security Info=True;User ID=sa;Password=888888" providerName="System.Data.SqlClient"/>-->
    <add name="EMEWEQCConnectionString" connectionString="Data Source=.;Initial Catalog=CQNDCL20180910;Persist Security Info=True;User ID=sa;Password=888888" providerName="System.Data.SqlClient"/>
    <add name="EMEWEQCConnectionString2" connectionString="Data Source=.;Initial Catalog=moisturecheckB;Persist Security Info=True;User ID=sa;Password=888888" providerName="System.Data.SqlClient"/>
    <!--车辆登记拍照图片存放文件夹 系统安装路径下-->
    <add name="CarFolder" connectionString="CarPhoto\"/>
    <add name="Rate" connectionString="-4"/>
    <add name="times" connectionString="5000"/>
    <add name="hujiaoNumbuer" connectionString="1"/>
    <add name="DELNumbuer" connectionString="2"/>
    <add name="UserAccess" connectionString="C:\\Program Files\\Routon\\居民身份证阅读程序\\"/>
    <!--SAP连接地址-->
    <!--ED1测试系统运行-->
    <!--<add name="System" connectionString="ED1" />
    <add name="MessageServer" connectionString="dga107.ndpaper.com" />
    <add name="GroupName" connectionString="ND_ED1_ALL" />
    <add name="Client" connectionString="900" />
    <add name="Language" connectionString="ZH" />
    <add name="User" connectionString="LE_RFCUSER" />
    <add name="Password" connectionString="init1234" />-->

    <!--ED9正式系统运行-->
    <!--<add name="System" connectionString="EP9" />
    <add name="MessageServer" connectionString="sapep9.ndpaper.com" />
    <add name="GroupName" connectionString="ND_EP9_ALL" />
    <add name ="Client" connectionString="900" />
    <add name="Language" connectionString="ZH" />
    <add name="User" connectionString="LE_RFCUSER" />
    <add name="Password" connectionString="init1234" />-->
  </connectionStrings>
  <userSettings>
    <EMEWE.CarManagement.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value/>
      </setting>
    </EMEWE.CarManagement.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
